@import "../../responsive.scss";

.homepage {
  display: flex;
  z-index: 1800;
  height: auto;

  .left-side {
    background-image: url("../../assets/core-image/hero-top.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 10px;
    flex: 2;
    padding-top: 6rem;
    padding-bottom: 40px;
    padding-left: 8%;
    margin-top: 55px;

    @include md {
      padding-left: 15px;
      gap: 6px;
    }

    span {
      font-size: 18px;
    }

    h4 {
      font-size: 1.8em;
      color: #222222;
      font-weight: 700;
      font-family: var(--font-base4);

      @include md {
        font-size: 32px;
      }
    }
    h3 {
      font-size: 15px;
      font-weight: 500;
      line-height: 32px;
      width: 65%;
      font-family: var(--font-base4);

      @include lg {
        font-size: 16px;
        line-height: 28px;
        width: 80%;
      }

      @include md {
        font-size: 16px;
        line-height: 28px;
        width: 85%;
      }

      @include sm {
        font-size: 16px;
        line-height: 28px;
        width: 100%;
      }
    }

    h2 {
      font-family: var(--font-base0);
    }

    .buttons {
      .btn {
        padding: 14px 56px;
        font-size: 15px;
        margin-top: 20px;
        color: #fff;
        border: none;
        outline: none;
        border-radius: 2px;

        cursor: pointer;

        @include md {
          font-size: 17px;
          padding: 12px 42px;
        }
      }
      .button-one {
        margin-right: 20px;
        background-image: linear-gradient(90deg, #0794c9, #5a9137);
        border-radius: 10px;
        font-family: var(--font-base6);

        &:hover {
          background-image: linear-gradient(90deg, #5a9137, #0794c9);
        }

        @include md {
          margin-right: 20px;
          padding: 12px 26px;
        }
      }

      .button-two {
        background-image: linear-gradient(90deg, #5a9137, #0794c9);
        font-family: var(--font-base5);
        border-radius: 10px;

        &:hover {
          background-image: linear-gradient(90deg, #0794c9, #5a9137);
        }
      }
    }
  }
}
