@import "../../responsive.scss";

.MyPortfolio {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  background-color: #f5f8fd;
  padding-left: 77px;
  padding-top: 87px;
  padding-right: 50px;

  @include sm {
    padding: 12px;
    padding-top: 65px;
  }

  .skill_title {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h2 {
      font-size: 2em;
      position: relative;

      @include md {
        font-size: 1.6em;
      }

      @include sm {
        font-size: 1.4em;
      }

      &::after {
        content: "";
        position: absolute;
        width: 9rem;
        top: 42px;
        left: 0;
        bottom: 5px;
        height: 2.4px;
        background-color: #febd01;

        @include md {
          width: 7rem;
          top: 39px;
        }

        @include sm {
          width: 6rem;
          top: 34px;
        }
      }
    }
  }

  .skill {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    margin-top: 20px;

    @include xl {
      grid-template-columns: repeat(2, 1fr);
    }

    @include lg {
      grid-template-columns: repeat(2, 1fr);
    }

    @include md {
      grid-template-columns: 1fr;
    }

    .box {
      width: 100%;
      padding: 20px;
      border-radius: 10px;
      background-color: #fff;
      &:hover {
        border-bottom: 3px solid #febd01;
      }

      span {
        display: block;
        font-size: 28px;
        color: #1491bb;
        text-align: center;
        margin-bottom: 10px;

        @include lg {
          font-size: 22px;
        }
      }

      h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;

        @include lg {
          font-size: 18px;
        }
      }

      p {
        font-size: 16px;
        color: #666666;
        margin-bottom: 15px;
        text-align: justify;

        @include lg {
          font-size: 14px;
          margin-bottom: 14px;
        }
      }

      ul {
        list-style: none;
        display: flex;
        gap: 30px;
        border-radius: 20px;

        li {
          border-radius: 20px;
          display: inline-block;
          padding: 1px 14px;
          color: #ffffff;

          @include lg {
            padding: 1px 12px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
