@import "../../responsive.scss";

.Myportfolio {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  background-color: #fff;
  padding-left: 7%;
  padding-top: 67px;
  padding-right: 50px;
  padding-bottom: 40px;

  .portfolio-title {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-align: center;
    margin-bottom: 40px;

    h2 {
      font-size: 1.8em;
      color: #222222;
      font-weight: 700;
      font-family: var(--font-base4);

      @include md {
        font-size: 1.6em;
      }

      @include sm {
        font-size: 1.4em;
      }
    }
  }

  img {
    border: 1px solid #99e4ff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
  }
}
