@import "../../responsive.scss";

.Myresume {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  background-color: #f5f8fd;
  padding-left: 8%;
  padding-top: 67px;
  padding-right: 50px;
  padding-bottom: 40px;

  @include md {
    padding-left: 3%;
    padding-top: 37px;
    padding-right: 15px;
    padding-bottom: 20px;
  }

  @include sm {
    padding-left: 2%;
    padding-top: 27px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
}

.resume-container {
  padding: 70px 10px 70px 20px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1),
    0 0 3px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
