.Myresume {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  background-color: #f5f8fd;
  padding-left: 8%;
  padding-top: 67px;
  padding-right: 50px;
  padding-bottom: 40px;
}

.resume-container {
  padding: 70px 10px 70px 20px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1),
    0 0 3px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
