@import "../../responsive.scss";

.about {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  background-color: #f5f8fd;
  padding-left: 8%;
  padding-top: 65px;

  @include md {
    padding-left: 23px;
    padding-top: 65px;
  }
  @include md {
    padding-left: 23px;
    padding-top: 60px;
  }
  @include sm {
    padding-left: 1px;
  }

  .about-title {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-align: center;
  }

  .about-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 1.4em;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 25px;
    padding-bottom: 45px;
    margin: 30px auto 2px auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    @include lg {
      display: flex;
      flex-direction: column;
      padding: 10px 20px 10px 30px;
    }
    @include sm {
      width: 90%;
      margin: 20px auto;
    }

    .about-detail {
      flex: 2.5;
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-top: 1em;
      padding-right: 50px;

      @include lg {
        padding-right: 80px;
      }

      @include md {
        margin-top: 1.4em;
      }

      @include sm {
        margin-top: 0.7em;
        padding-right: 26px;
      }

      h2 {
        font-size: 1.8em;
        color: #222222;
        font-weight: 700;
        font-family: var(--font-base4);

        @include md {
          font-size: 1.4em;
        }

        @include sm {
          font-size: 1.2em;
        }
      }

      h3 {
        font-size: 1.3em;
        position: relative;
        color: #222222;
        font-weight: 550;

        @include md {
          font-size: 1.1em;
        }

        @include sm {
          font-size: 0.9em;
        }
      }

      span {
        line-height: 24px;
        font-size: 14px;

        @include md {
          line-height: 25px;
          font-size: 14px;
        }

        @include sm {
          line-height: 23px;
          font-size: 12px;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px;
        margin-top: 10px;

        h4 {
          font-size: 18px;
          color: #2196c0;
          font-weight: 550;
        }

        li {
          padding-left: 20px;
          font-size: 14px;
          display: flex;
          align-items: center;

          span {
            color: #2196c0;
          }

          i {
            font-style: normal;
            padding-left: 10px;
          }
        }
      }
    }

    .about-image {
      flex: 1.2;
      margin-right: 10px;

      img {
        margin-top: 20px;
        width: 20em;
        background-color: #d8d3fb;
        border-radius: 5px;

        @include lg {
          width: 18em;
        }

        @include md {
          width: 20em;
          margin-left: -10px;
        }
      }
    }
  }
}
