@import "../../responsive.scss";

.about {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  background-color: #ffffff;
  padding-left: 8%;
  padding-top: 65px;

  @include md {
    padding-left: 23px;
    padding-top: 65px;
  }
  @include md {
    padding-left: 23px;
    padding-top: 60px;
  }
  @include sm {
    padding-left: 1px;
  }

  .about-title {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-align: center;

    h2 {
      font-size: 1.8em;
      color: #222222;
      font-weight: 700;
      font-family: var(--font-base4);

      &::after {
        content: "";
        position: absolute;
        width: 6.4rem;
        top: 100%;
        left: 45%;
        bottom: 5px;
        height: 2.4px;
        background-color: #64ffda;

        @include md {
          width: 5rem;
          top: 88%;
        }

        @include sm {
          width: 4rem;
        }
      }
    }
  }

  .about-content {
    width: 95%;
    display: flex;
    justify-content: space-between;
    gap: 1.4em;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 30px auto 2px auto;

    @include lg {
      display: flex;
      flex-direction: column;
      padding: 10px 20px 10px 30px;
    }
    @include sm {
      width: 90%;
      margin: 5px auto;
    }

    .about-detail {
      flex: 2.5;
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-top: 1em;
      text-align: justify;
      padding-right: 50px;

      @include lg {
        padding-right: 80px;
      }

      @include md {
        margin-top: 1.4em;
      }

      @include sm {
        margin-top: 0.7em;
        padding-right: 26px;
      }

      h2 {
        font-size: 1.8em;
        color: #222222;
        font-weight: 700;
        font-family: var(--font-base4);

        @include md {
          font-size: 1.4em;
        }

        @include sm {
          font-size: 1.2em;
        }
      }

      h3 {
        font-size: 1.3em;
        position: relative;
        color: #222222;
        font-weight: 550;

        @include md {
          font-size: 1.1em;
        }

        @include sm {
          font-size: 0.9em;
        }
      }

      span {
        line-height: 27px;
        font-size: 15px;

        @include md {
          line-height: 25px;
          font-size: 14px;
        }

        @include sm {
          line-height: 23px;
          font-size: 12px;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 10px;
        margin-top: 10px;

        li {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          padding: 10px;
          font-size: 14px;

          &:first-child {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
          }

          i {
            font-style: normal;
            font-weight: 555;
          }
        }
      }
    }

    .about-image {
      flex: 1.2;
      margin-right: 10px;

      img {
        margin-top: 20px;
        width: 20em;
        background-color: #d8d3fb;

        @include lg {
          width: 18em;
        }

        @include md {
          width: 20em;
          margin-left: -10px;
        }

        @include sm {
          width: 16em;
        }
      }
    }
  }
}
