@import "../../responsive.scss";

.contact-form {
  position: relative;
  z-index: 0;
  padding: 10px;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr auto 0.5fr;
  align-items: center;
  background-color: #f5f8fd;
  padding-top: 70px;
  padding-bottom: 50px;
}

.contact-container {
  max-width: 1000px;
  margin: 0 auto;
}

.contact-form h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  font-size: 22px;
  font-weight: 500;
  color: #2196c0;
  text-align: center;

  span {
    padding-left: 10px;
    font-size: 16px;

    @include sm {
      width: 13px;
    }
  }
}

.contact-form .main {
  position: relative;
  display: flex;
  margin: 30px 20px;
  box-shadow: 0px 0px 5px 5px #d1d0d045;
  border-radius: 5px;
}

form {
  border: 2px solid #f5f8fd;
  padding: 10px;
}

.content {
  flex-basis: 70%;
  padding: 1.8em 3em 1.3em 3em;
  background: #fff;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.form-img {
  flex-basis: 50%;
  background: #fff;
  background-size: cover;

  span {
    display: flex;
    align-items: center;
    border: 2px solid #f5f8fd;
    padding: 15px 7px;
    margin: 60px 10px 10px 10px;
    cursor: pointer;
    margin-left: 30px;
    padding-left: 20px;

    @include md {
      margin-top: 10px;
      border: none;
    }

    s {
      color: #2196c0;
      font-size: 22px;
    }

    i {
      font-style: normal;
      padding-left: 15px;
    }
  }
}

form {
  padding: 0 20px 20px 20px;
}

form .message {
  text-align: center;
  font-weight: 700;
}

form .message.messageShadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form .message p {
  font-size: 12px;
  padding: 10px 5px;
}

form .message p.errorColor {
  color: #eb6964;
}

form .message p.successColor {
  color: #39ac73;
}

form input.error,
textarea.error {
  border: 1px solid #e67a76;
}

form input:hover,
textarea:hover {
  outline: none;
  border: none;
}

form input:focus,
textarea:focus {
  border-bottom: 2px solid #93dcf7;
}

.form-img img {
  max-width: 100%;
}

.btn,
button {
  border-radius: 5px;
}

.contact-form form {
  margin: 30px 0;
}

.contact-form input,
textarea {
  outline: none;
  margin-bottom: 15px;
  font-size: 16px;
  padding: 10px 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  background: #f2f2f2;
  transition: 0.3s ease;
}

.contact-form button {
  font-size: 18px;
  color: #f5f8fd;
  width: 35%;
  padding: 13px 17px;
  background-color: #0794c9;
  margin-top: 20px;
  border-top-right-radius: 10px;
  font-family: var(--font-base5);

  @include lg {
    width: 46%;
  }
  @include md {
    width: 37%;
  }
  @include sm {
    width: 45%;
  }

  &:hover {
    background-color: #47a7ca;
    color: white;
  }
}

@media (max-width: 536px) {
  .contact-form .form-img {
    display: none;
  }
}

@media (max-width: 826px) {
  .contact-form form {
    margin-left: -50px;
    margin-right: -30px;
  }
}

@include md {
  .contact-form .main {
    flex-direction: column;
  }
  .contact-form form {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: -30px;
    margin-right: -30px;
  }
  .form-img {
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    order: 2;
  }
  .content {
    order: 1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
