<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="description"
      content="I am a curious full-stack and React developer, building applications with utmost efficiency and experience in translating clients' needs into practical solutions."
    />
    <meta
      name="keywords"
      content="react developer, react js, node js, full stack developer, front end developer, JavaScript developer"
    />
    <meta name="subject" content="Aschalew Gashaw, react porfolio" />
    <meta property="og:title" content="Aschalew Gashaw || Portfolio" />
    <meta property="og:image" content="https://aschu24.com/assets/ogLogo.png" />
    <meta property="og:image:alt" content="ogLogo" />
    <meta property="og:site_name" content="Aschu24.com" />
    <meta property="og:url" content="https://aschu24.com" />
    <meta
      property="og:description"
      content="I am a curious full-stack and React developer, building applications with utmost efficiency and experience in translating clients' needs into practical solutions."
    />
    <meta property="og:type" content="website" />
    <link rel="canonical" href="https://aschu24.com/" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Aschalew Gashaw || portfolio" />
    <meta
      name="twitter:description"
      content="I am a curious full-stack and React developer, building applications with utmost efficiency and experience in translating clients' needs into practical solutions."
    />
    <meta
      name="twitter:image"
      content="https://aschu24.com/assets/ogLogo.png"
    />
    <meta name="twitter:image:alt" content="twitter-oglogo" />
    <meta name="twitter:site" content="@Aschu24" />
    <title>Aschalew Gashaw || Portfolio</title>
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-ECNZ488Q3Z"
    ></script>
    <script>
      function gtag() {
        dataLayer.push(arguments);
      }
      (window.dataLayer = window.dataLayer || []),
        gtag("js", new Date()),
        gtag("config", "G-ECNZ488Q3Z");
    </script>
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="./css/style.css" />
    <script defer="defer" src="/static/js/main.9f4f7526.js"></script>
    <link href="/static/css/main.a45af44f.css" rel="stylesheet" />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="spinner-loader" class="preloader-container">
      <div class="pre-loading">
        <div class="contant-wrapper">
          <img src="./assets/preloading.svg" alt="pre-loading" />
        </div>
      </div>
    </div>
    <div id="root"></div>
  </body>
</html>
